/* Ion.RangeSlider, Flat UI Skin
// css version 1.8.1
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
    background: url(../img/sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 5px; top: 37px;
}
    .irs-line-left {
        height: 5px;
        background: #d9d9d9;
    }
    .irs-line-mid {
        height: 5px;
        background: #d9d9d9;
    }
    .irs-line-right {
        height: 5px;
        background: #d9d9d9;
    }

.irs-diapason {
    height: 5px; top: 37px;
    background: #f7f7f7;
}

.irs-slider {
    width: 14px; height: 14px;
    border-radius: 50%;
    top: 32px;
    background-color: #fff;
    border: 2px solid #777;
    cursor: pointer;
}


.irs-min, .irs-max {
    color: #999;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0; padding: 1px 3px;
    background: #d9d9d9;
    border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background: #f34838;
    border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -6px; left: 50%;
    width: 0; height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #f34838;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}