.footer
	.container
		.row
			.col-md-3
				small.text-muted © Стройком, 2001 — 2015.
				br
				small.text-muted ГК «Доступное жилье»
				br
				br
				a.underline(href="#")
					small Карта сайта
			.col-md-2.border-right
				a(href="#") Стройком
				ul.list
					li 
						a(href="about.html") О компании
					li 
						a(href="for_realtors.html") Для риэлторов
					li 
						a(href="documents.html") Документы
					li 
						a(href="objects.html") Наши объекты
					li 
						a(href="contacts.html") Контакты
			.col-md-2.border-right
				a(href="#") Объекты
				ul.list
					li
						a(href="#") ЖК по ул. Вавилова, 18/2
					li
						a(href="#") ЖК по ул. Вавилова, 20
					li
						a(href="#") ЖК «Три кита»
					li
						a(href="#") ЖК «Солнечный»
			.col-md-2
				a(href="#")  Пресс - центр
				ul.list
					li
						a(href="news.html") Новости
					li
						a(href="shares.html") Акции
			.col-md-3
				.socials
					a(href="https://facebook.com" target="_blank")
						.social-div
							.social-visible
								i.fa.fa-facebook
							.social-hidden
								i.fa.fa-facebook
					a(href="https://vk.com" target="_blank")
						.social-div
							.social-visible
								i.fa.fa-vk
							.social-hidden
								i.fa.fa-vk
					a(href="https://ok.ru" target="_blank")
						.social-div
							.social-visible
								i.fa.fa-google-plus
							.social-hidden
								i.fa.fa-google-plus
				h4.top25 +7 /861/ 2-100-700
				p.adress Россия, г. Краснодар, ул. Гаврилова, 117, 4 этаж, офис 3
				.top10
					img(src="images/pointer.png", alt="")
					a.dashed(href="#") Карта проезда &rarr;
			.col-md-5
				a(href="https://webformula.pro" target="_blank")
					img.wf-logo(src="images/wf.png", alt="")
					span - Разработка сайта 
					span.underline Webformula
			.col-md-3
				a(href="#")
					img(src="images/rating.png", alt="")