<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Стройком
		include libs.jade
	body
	
		include header.jade

		.container.roboto
			.row
				.col-md-3.left-block
					.objects-location
						h4.dashed.text-white Расположение объектов компании
						ul
							li
								a(href="#") Введеные в эксплуатацию
							li
								a(href="#") Строящиеся
							li
								a(href="#") Отдел продаж
						a(href="#")
							.btn.btn-secondary.width100 Посмотреть
					.news
						h4.text-center Пресс-центр
						//- tabs
						ul.nav.nav-tabs(role="tablist")
							li.active(role="presentation")
								a(href="#tab-news" aria-controls="tab-news"  role="tab" data-toggle="tab") Новости
							li(role="presentation")
								a(href="#tab-shares" aria-controls="tab-shares" role="tab" data-toggle="tab") Акции
						.tab-content
							div(role="tabpanel" class="tab-pane active" id="tab-news")
								.new
									a(href="#") 
										h4 Ипотека «ВТБ 24»
									small Квартиры в жк «три-кита» теперь можно приобрести в ипотеку при поддержке «втб24»
								.new
									a(href="#") 
										h4 Аккредитация «Новые Адреса»
									small Квартиры в жк «три-кита» теперь можно приобрести в ипотеку при поддержке «втб24»
							div(role="tabpanel" class="tab-pane" id="tab-shares") ...
					.banner-slider
						img(src="images/door.jpg", alt="")
						.banner-slider-content
							.banner-slider-content-img
								img(src="images/банк-москвы-лого.png", alt="")
							.banner-slider-content-text
								a(href="#" target="_blank") Ипотечное кредитование от банка Москвы

				.col-md-6.for-realtors
					a.dashed(href="index.html") 
						| <i class="fa fa-home"></i> Главная 
					span.text-muted | Для риэлторов
					h2.title Для Риэлторов
					p Компания «Стройком» приглашает к взаимовыгодному сотрудничеству агентства недвижимости!
					p Предлагаемые нами объекты строительства представляют огромный интерес в решении вопроса покупки жилья. И на сегодняшний день мы работаем более, чем со 100 агентствами недвижимости г. Краснодара и Краснодарского края.
					p У нас есть огромное количество предложений по подбору квартир Вашим клиентам, а опытные сотрудники компании помогут вам в работе, обеспечив качественный и внимательный подход.
					p Убеждены, что совместная реализация объектов станет весьма продуктивной и взаимовыгодной!
					p Наши сотрудники ответят на любые интересующие Вас вопросы!
					p По вопросам работы с агентствами недвижимости обращайтесь по телефону:
					p
						| <i class="fa fa-phone"></i> +7 (952) 854 25 45; +7(953) 094 17 59.
					h4.top50 Задать вопрос
					form.form.form-contacts
						.row
							.col-md-6
								label Имя
								input.form-input(type="text")
								label E-mail
								input.form-input(type="text")
							.col-md-6
								label Сообщение
								textarea.form-input
						.btn.btn-simple.top25 Отправить
				.col-md-3.right-block
					.call-center
						.img-box.text-center.top10
							img(src="images/callcenter.jpg", alt="")
						h4 Выберите удобное время звонка
						form.form-inline
							.row
								.col-md-6.form-group
									input.calling-form(type="text" placeholder="сегодня")
								.col-md-6.form-group
									input.calling-form(type="text" placeholder="14:00")
							input.calling-form.top10(type="text" placeholder="Введите ваш номер")
						a(href="#")
							.btn.btn-simple.width100 Перезвоните мне
						.feedback
							a.dashed(href="#") Обратная связь
					.short-info
						.row
							.col-md-2.short-info-ico
								img(src="images/i.png", alt="")
							.col-md-10
								p Она была создана в 2012 году на основе многолетнего опыта и достижений ЖСК «Доступное жилье». В течение 9 лет своей деятельности организация зарекомендовала себя как динамично развивающаяся компания
					.counts
						h4 Жилой комплекс в цифрах
						.count
							img(src="images/clock.png", alt="")
							p Старт проекта
							h4.text-red 2015
						.count
							img(src="images/building.png", alt="")
							p Этажность
							h4.text-red 17
						.count
							img(src="images/door.png", alt="")
							p Все квартир
							h4.text-red 4720
						.count
							img(src="images/hook.png", alt="")
							p Строится домов
							h4.text-red 2
					.commercial
						.commercial-img
							img(src="images/commercial-1.jpg", alt="")
						.commercial-text
							h3 ЖК «Светлый»
							h3.top10 8 861 2-100-700
							img.top10(src="images/кредитование.png", alt="")



		include footer.jade
		include enter.jade
		include registration.jade

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script.
			window.jQuery || document.write('<script src="js/jquery-2.1.4.min.js"><\/script>')	
		script(src="js/bootstrap.min.js")
		script(src="js/script.js")